body {
  background-color: burlywood;
}

h1,
p,
a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(105, 6, 105);
  text-align: center;
}

img {
  border-radius: 4px;
  max-width: 300px;
  padding-bottom: 40px;
}
