body {
  background-color: burlywood;
}

h1,
p,
a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(105, 6, 105);
  text-align: center;
}

img {
  border-radius: 10px;
  display: block;
  margin: 30px auto;
  padding-bottom: 40px;
}

footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
  color: rgb(204, 31, 138);
}
